EXPO_PUBLIC_API_URL=http://192.168.1.176:5000
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
# Android maps (react-native-maps). Create at https://console.cloud.google.com/apis/credentials
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_API_KEY=your_google_maps_android_api_key
