EXPO_PUBLIC_API_URL=http://192.168.1.176:5000
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
# Mapbox (maps). Create at https://account.mapbox.com/access-tokens/
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.your-mapbox-public-token
